/*全局样式*/
html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
  /* 阻止屏幕变小发生挤压 */
  min-width: 1349px;
}
body img {
    height: auto;
    max-width: 100%;
}
button {
    -webkit-appearance: button;
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: buttontext;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    background-color: buttonface;
    box-sizing: border-box;
    margin: 0em;
    font: 400 13.3333px Arial;
    padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
    border-color: buttonface;
    border-image: initial;
}
* {
    font-family: Kanit, sans-serif;
    -webkit-font-smoothing: antialiased;
}
*, ::before, ::after {
    box-sizing: border-box;
}
a {
  text-decoration: none;
}
.el-dialog .el-dialog__body{
    width: 100% !important;
  }
 .el-aside{
 	overflow:hidden;
 }

 /*兼容*/
/*@media screen and (min-width: 576px) {
  font-size: 14px;
  line-height: 18px;
}
@media screen and (min-width: 768px) {
  font-size: 16px;
  line-height: 28px;
}
@media screen and (min-width: 992px) {
  font-size: 16px;
  line-height: 32px;
}
@media screen and (min-width: 1200px) {
  font-size: 18px;
  line-height: 64px;
}  
*/
@media screen and (min-width: 968px){
	.hsFDCH {
	    grid-template-columns: repeat(12, 1fr);
	    gap: 32px;
	}
	.cNaueE > div {
	    grid-column: span 6 / auto;
	}
}
@media screen and (min-width: 577) and (max-width: 852px){
	.hsFDCH {
	    grid-template-columns: repeat(12, 1fr);
	    gap: 24px;
	}
}
@media screen and (max-width: 576px){
	.hsFDCH {
	    grid-template-columns: repeat(8, 1fr);
	    gap: 24px;
	}
	.cNaueE > div {
	    grid-column: span 8 / auto;
	}
	.kNcgdb {
	    display: none;
	}
	.dvUoqq {
	    display: block;
	}
}

