/*全局样式*/
html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
  /* 阻止屏幕变小发生挤压 */
  min-width: 1349px;
}
a {
  text-decoration: none;
}
.el-dialog .el-dialog__body{
    width: 100% !important;
  }
 .el-aside{
 	overflow:hidden;
 }